.fontbtn{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 30px;
    bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    button{
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: none;
        font-size: large;
        transition: .2s;
        cursor: pointer;
        &:hover{
            background-color: rgb(46, 46, 46);
            
        }
    }
}